:root {
  --primary: #d12f2e;
  --primary-dark: #af0809;
  --primary-darker: #7a0a0a;
  --primary-color: #fff;
  --secondary: #325d5d;
  --secondary-dark: #203c3c;
  --secondary-darker: #112020;
  --custom-blue: #324f5d;
  --custom-blue-light: #4e7d94;
  --custom-blue-dark: #1e2f38;
  --border: #c5c5c5;
  --alt: #fff;
}

.logo-font {
    font-weight: bold;
}

.logo a:hover {
    color: #fff !important;
}

.top-gutter > div.logo.logo-font > a,
.top-rhs > div:nth-child(1) > a,
#top-rhs-selector .fa,
#top-rhs-selector span {
  color: #eee;
}

#left-nav > ul > li > a:hover,
.top-gutter > div.logo.logo-font > a:hover,
.top-rhs > div a:hover,
#top-rhs-selector .fa:hover,
#top-rhs-selector span:hover {
  color: #fff;
}

.top-gutter {
   background-color: var(--primary);
}

a {
  color: var(--custom-blue-light);
}

a:hover {
  color: var(--secondary);
}

a.alt, button.alt {
  background-color: #eee;
  border: 1px var(--secondary) solid;
}

a.alt:hover, button.alt:hover {
  background-color: #fff;
}

#slide-nav {
  background-color: #333;
}

.spinner {
  background-color: yellow;
}

.top_margin {
  margin-top: 33px;
}

.items_grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1120px;
}

.parent {
  position: relative;
}

.child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  visibility: hidden;  /* The child element is initially hidden */
}

.launch-div {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.launch-div > div:nth-child(1) {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.launch-div > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 1em;
    padding-right: 1em;
    font-size: 0.7em;
}

.launch-div > div:nth-child(2) button {
    margin-top: 0;
    border-radius: 0;
    border: 1px #d5d9dc solid;
    background-color: #fff;
}

.launch-div > div:nth-child(2) button:hover {
    background-color: #d5d9dc;
    color: #4d5e6e;
    border:  1px #4d5e6e solid;
}

.launch-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 16%;
    padding-top: .9em;
    padding-bottom: .9em;
    background-color: #4d5e6e;
    border: 1px #4d5e6e solid;
    opacity: .95;
    width: 70%;
    transition: none;
}

.launch-btn:hover {
    background-color: #4d5e6e;
    border-style: dotted;
    border: 1px #fff solid;
    box-shadow: 0 0 0 1px #4d5e6e, 0 0 0 2px #4d5e6e; 
    transition: none; 
}

.items_grid .website_name {
  font-weight: bold;
  color: var(--secondary);
}

.items_grid .website_username {
  margin-top: 3px;
  font-size: 14px;
}

.parent:hover .child {
  visibility: visible;  /* The child element is shown when the parent element is hovered over */
}

.items_grid .card {
  margin-top: 0;
  display: flex;
}

.use-default-pic {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  width: 100%;
}

.use-default-pic-upper {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.dummy-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .6em 0;
}

.dummy-img .fa-lock {
  font-size: 33px;
  color: #fff;
}

.use-default-pic-lower {
  height: 40%;
}

#add_btn {
    bottom: 7em;
    right: 3em;
    position: fixed;
}

#add_btn button {
    border-radius: 50%;
    padding: 9px 14px 7px 14px;
    font-size: 27px;
    background-color: var(--primary);
    border: 1px var(--primary) solid;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

#add_btn button:hover {
    background-color: var(--primary-dark);
    border: 1px var(--primary-dark) solid;
}

.modal#add_item {
    max-width: 850px;
}

.modal#create_password {
    max-width: 800px;
}

.modal-heading {
    background-color: var(--primary);
    border: 1px var(--primary) solid;
    text-transform: none;
}

#add_item > div.modal-heading.two-way-split > div:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
}

.modal-body .text-right {
    text-align: right;
}

.two-way-split {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.two-way-split > div:nth-child(2) {
    text-align: center;
    font-size: 19px;
}
.two-way-split > div:nth-child(3) {
    text-align: right;
}

.two-way-split > div:nth-child(odd) {
    width: 30%;
}

.two-way-split > div:nth-child(even) {
    width: 40%;
}

.two-way-split .fa-times {
    cursor: pointer;
}

.modal-body-grid {
    display: grid;
    grid-gap: 1.6em;
    margin-top: 1em;
    margin-bottom: 3em;
}

.modal-body-grid > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 90px;
    text-transform: uppercase;
    cursor: pointer;
}

.modal-body-grid > div > div,
.modal-body-grid > div .fa {
    transition: .3s;
}

.modal-body-grid > div:hover .fa {
    color: #56879f;
}
.modal-body-grid > div:hover {
  color: #56879f;
}

.modal-body-grid > div > div:nth-child(1) {
    color:  #325d5d;
}

.modal-body-grid > div > div:nth-child(2) {
    font-size: 14px;
}

.modal-body-grid > div .fa {
    font-size: 60px;
}

.modal-body {
    background-color: #e3a8a811;
}

.password-form {
    font-size: .84em;
}

label {
    font-size: 1.1em;
    color: #000;
    font-weight: 500;
}

input[type=text], textarea {
    border-radius: 0;
}

button.button.alt {
    background-color: #fff;
}

#create_password > div.modal-body > form > p > button {
    min-width: 12em;
}

.validation-error-report div {
    font-size: 14px;
}

.custom-spinner {
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border: 0.2em solid #fff;
  border-radius: 50%;
  border-top-color: transparent;
  animation: custom-spinner .6s linear infinite;
  margin: 0 auto;
  padding: 0;
}

@keyframes custom-spinner {
  to { transform: rotate(360deg); }
}

.custom-spinner-sm {
  width: 0.8rem;
  height: 0.8rem;
  border-width: 0.2em;
}


@media (min-width: 1px) {
  .center-stage {
      margin: 1em auto;
  }

  .items_grid {
    grid-gap: 0;
    grid-column-gap: 0.7em;
  }

  .use-default-pic {
     min-height: 3em;
  }

  .modal-body-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #add_btn {
    display: none;
  }
}

@media (min-width: 680px) {
   .items_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
   }

  .modal-body-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
   .items_grid {
    grid-template-columns: repeat(3, 1fr);
   }

  .use-default-pic {
     min-height: 9em;
  }

  .modal-body-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1300px) {
   .items_grid {
    grid-template-columns: repeat(4, 1fr);
   }
}

@media (max-width: 840px) {
  a.alt, button.alt {
    background-color: #fff;
    border: 1px var(--secondary) solid;
  }
}

@media (min-width: 1600px) {
  #add_btn {
    display: inline-block;
  }
}

